.header {
    background-color: rgb(0, 0, 0);
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #logo_small {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  
  .menubalk {
    background-color: #EBBBB3;
    grid-area: menubalk;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
  
  .winkelwagen {
    background-color: #EBBBB3;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .winkelwagen:hover {
    background-color: rgb(255, 207, 207);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7A7D7D;
  }
  
  li {
    float: left;
  }
  
  
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: rgb(255, 207, 207);
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EBBBB3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(255, 207, 207);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .afs:hover {
    background-color: rgb(255, 207, 207);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .afs{
    background-color: #EBBBB3;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .contact:hover {
    background-color: rgb(255, 207, 207);
    color: rgb(255, 255, 255);
  }
  
  .contact {
    background-color: #EBBBB3;
    border: none;
    color: white;
    padding: 14px 16px;
    ;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  #logo {
    width: 225px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
  }
  
  .menulink {
    text-decoration: none;
  }